* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    text-align: center;
    margin: 30px 0;
}
.underline {
    width: 10%;
    height: 3px;
    background-color: rgb(164, 232, 164);
    margin: 5px auto;
}
main {
  width: 85%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main section {
  position: relative;
  flex: 0 0 32%;
}
main section .info {
    text-align: left;
}
main section h2 {
    margin: 20px 0;
}
main section img {
  width: 100%;
  height: 300px;
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: rgb(164, 232, 164);
}
button {
  padding: 8px 15px;
  border: none;
  background-color: rgb(164, 232, 164);
  margin: 30px 0;
  cursor: pointer;
  text-transform: uppercase;
}
.container .btn {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(164, 232, 164);
    margin: 30px 0;
    cursor: pointer;
    text-transform: uppercase; 
}
section .read {
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    border: none;
    background-color: transparent;
    color: rgb(99, 178, 99);
    display: inline-block;
}
